<!DOCTYPE html>
<html lang="pt-br">

<body>

    <div class="main-container">
        
        <!-- Container Lateral / Perfil  -->
            <div class="perfil-container">

                <!-- Nome/Imaggem e Ocupação -->
                <section class="presentation-section shadow">
                    <img src="./assets/foto-perfil.jfif" alt="">
                    <p>Yuri Santana de Sá</p>
                    <p>Web Developer</p>
                </section>

                <!-- Social -->
                    <section class="presentation-section shadow">
                        <ul>
                            <li>
                                <a href="https://goo.gl/maps/2cSm431t9XvcBUCq7">
                                    <img src="./assets/map-pin.svg" alt="">
                                    <p>Brasil</p>
                                </a>
                            </li>

                            <li>
                                <a href="https://app.rocketseat.com.br/me/yuri-player-35">
                                    <img src="./assets/briefcase.svg" alt="">
                                    <p>Rocketseat</p>
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/Player35Oficial">
                                    <img src="./assets/github.svg" alt="">
                                    <p>Player35Oficial</p>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/in/yuri-player35/">
                                    <img src="./assets/linkedin.svg" alt="">
                                    <p>yuri-player35</p>
                                </a>
                            </li>

                            <!-- Descontinuado -->
                            <!-- <li>
                                <a href="https://twitter.com/Player35Oficial">
                                    <img src="./assets/twitter.svg" alt="">
                                    <p>Player35Oficial</p>
                                </a>
                            </li> -->

                            <li>
                                <a href="https://github.com/Player35Oficial/Desafio-Portfolio">
                                    <img src="./assets/globe.svg" alt="">
                                    <p>Este site</p>
                                </a>
                            </li>

                            <li>
                                <a href="mailto:yuri.luana2016@gmail.com?subject=Assunto">
                                    <img src="./assets/mail.svg" alt="">
                                    <p>yuri.luana2016@gmail.com</p>
                                </a>
                            </li>
                        </ul>
                    </section>

                <!-- Tecnologias -->
                <section class="presentation-section shadow">
                    <p>Tecnologias</p>

                    <ul class="tech-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                        <li>GIT</li>
                        <li>GITHUB</li>
                    </ul>
                </section>

                <!-- Experiências -->
                <section class="presentation-section shadow">
                    <p>Experiências</p>

                    <ul class="experience-list">
                        <li>
                            <p>Rocketseat</p>
                            <p>2019 - Atualmente</p>
                            <p>Experiência da Comunidade (U-learning)</p>
                        </li>
                    </ul>
                </section>

                <!-- Educação -->
                <section class="presentation-section shadow">
                    <p>Educação</p>

                    <ul class="education-list">
                        <li>
                            <p>Rocketseat</p>
                            <p>2021 - 2022</p>
                            <p>Trilha Explorer</p>
                        </li>
                        <li>
                            <p>Curso em Vídeo</p>
                            <p>2022 - 2022</p>
                            <p>Javascript</p>
                        </li>
                    </ul>
                </section>
            </div>
        
        <!-- Container Principal / Projetos e Posts -->
        <div class="post-container">

            <!-- My projects -->
            <section class="project-title shadow">

                <h4>My Projects</h4>
                <a href="https://github.com/Player35Oficial?tab=repositories">
                    <p>Ver todos</p>
                </a>

            </section>

                <!-- Projects -->
                <section class="projects">

                    <section id="proj1" class="project-container shadow">
                    <!-- <a href="https://github.com/Player35Oficial/Clone-Facebook1---Copia" target="_blank">

                        <section class="detalhes-projeto">
                            <section class="title-projeto">
                                <img src="/assets/folder.svg" alt="" class="projeto-icon">
                                <p id="rp_title01">Clone-Facebook1---Copia</p>
                            </section>

                            <section class="description-projeto"> 
                                <p>My-First-clone-project</p> 
                            </section>

                            <section class="features-repo">
                                <section class="features-repo-img">
                                    
                                    <img class="projeto-icon" src="/assets/star.svg" alt="">
                                    <p>0</p>
                                    
                                    <img class="projeto-icon" src="/assets/git-branch.svg" alt="">
                                    <p>0</p>

                                </section>

                                <section class="feature-repo-tech">
                                    <div class="tech-circle"></div>
                                    <p>HTML</p>
                                </section>
                            </section>
                        </section>
                    </a> -->
                    </section>

                    <section id="proj2" class="project-container shadow">
                    <!-- <a href="https://github.com/Player35Oficial/Desafio-Portfolio" target="_blank">

                        <section class="detalhes-projeto">
                            <section class="title-projeto">
                                <img src="./assets/folder.svg" alt="" class="projeto-icon">
                                <p>Desafio-portfolio</p>
                            </section>

                            <section class="description-projeto"> 
                                <p>Projeto de Currículo para Portfólio no Github</p> 
                            </section>

                            <section class="features-repo">
                                <section class="features-repo-img">
                                    
                                    <img class="projeto-icon" src="/assets/star.svg" alt="Stars">
                                    <p>1</p>
                                    
                                    <img class="projeto-icon" src="/assets/git-branch.svg" alt="">
                                    <p>0</p>

                                </section>

                                <section class="feature-repo-tech">
                                    <div class="tech-circle"></div>
                                    <p>HTML</p>
                                </section>
                            </section>
                        </section>                        
                    </a> -->
                    </section>
                </section>



            <!-- Recent Posts -->
            <section class="project-title shadow">

                <h4>Recent Posts</h4>
                

            </section>

            <section class="post-section">
                <section class="posts shadow">
                    <section class="posts-img">
                        <img src="./assets/foto-perfil.jfif" alt="">
                    </section>

                    <section class="posts-content">
                        <section class="posts-content-title">
                            <h4>Yuri Santana <span>publicou isso</span></h4>

                            <!-- Momento aproximado de Save desta branch -->
                            <p> &bullet; 18 h</p>
                        </section>

                        <section class="posts-content-description">

                            <div class="post-ld-container">

                                <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6954991961816637440?updateEntityUrn=urn%3Ali%3Afs_updateV2%3A%28urn%3Ali%3Aactivity%3A6954991961816637440%2CFEED_DETAIL%2CEMPTY%2CDEFAULT%2Cfalse%29&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BZiYOJyXVRlmfnakW5th7zQ%3D%3D" class="post-link">
                                    <img class="post-link-image" src="https://media-exp2.licdn.com/dms/image/C4E0DAQHKY4Zh8eOiVw/learning-public-crop_60_100/0/1602669646079?e=1658862000&v=beta&t=r4Pxbj4kqmLWcv0b0iub8JarwojZbEJ9qR1joC7iR8w" alt="">
                                </a>
    
                                <a target="_blank" href="https://www.linkedin.com/feed/update/urn:li:activity:6954991961816637440?updateEntityUrn=urn%3Ali%3Afs_updateV2%3A%28urn%3Ali%3Aactivity%3A6954991961816637440%2CFEED_DETAIL%2CEMPTY%2CDEFAULT%2Cfalse%29&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BZiYOJyXVRlmfnakW5th7zQ%3D%3D" class="post-description">
                                    <div class="post-svg-learning">
                                        <img src="./assets/linkedInLearning.svg" alt="">
                                        <p>LEARNING</p>
                                    </div>
                                    
                                    <p>Acabei de concluir o curso “Como Desenvolver a Autoconfiança”!</p>
                                </a>

                            </div>
                        </section>
                        <section class="posts-content-tags">
                            <p>#construçãodaconfiança</p>
                        </section>
                    </section>

                </section>

            </section>
        </div>

    </div>
    
    <script src="./api.js"></script>
</body>
</html>